*~
.vscode/*
model.log
*/input.csv
__pycache__
.python-version
/output/*
metadata/*
venv/
.DS_Store
.Rhistory
.Rproj.user/
.devcontainer/ehrql-main/
local_processing/generate_dummy_tables/
local_processing/outputs/
docs/nhsbsa_dmd*
/ehrql-dummy-data*
*claude*